# Python Virtual Environment
.venv/
backend/.venv/
**/__pycache__/
**/*.pyc
**/*.pyo

# Environment variables & secrets
.env
*.env
.env.*

# Local configuration and alerts history
backend/config.json
backend/sent_alerts.json

# Frontend dependencies
frontend/node_modules/
frontend/dist/

# IDE / Editor configuration files
.idea/
.vscode/
.DS_Store
